.alert-container {
	background: var(--bg-alert);
	width: 100%;
	border-radius: 8px;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
}

.alert-container > i {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 1.75rem;
	opacity: 0.5;
}

.alert-icon i {
	font-size: 2rem;
}

.alert-text {
	text-align: left;
}

.alert-text p {
	margin: 0;
}

.alert-text p:nth-child(2) {
	color: var(--clr-primary);
	font-size: 0.9rem;
}
