#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.app {
	display: flex;
	position: relative;
	width: 1280px;
}

.user-auth {
	visibility: hidden;
	position: absolute;
	max-width: 300px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
