.payment-form {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 1rem;
}

.btn-secondary.payment {
	max-width: 150px;
	font-size: 0.8rem;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.payment-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.payment-container .left {
	margin-top: 0.5rem;
}

.payment-container .right {
	margin-top: 1rem;
}
