.tracker-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tracker-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--bg-accent);
	display: flex;
	align-items: center;
	justify-content: center;
}

.tracker-circle.complete,
.tracker-line.complete {
	background-color: #aaaaaa;
}

.tracker-circle i {
	font-size: 1.25rem;
	opacity: 0.3;
}

.tracker-circle i.complete {
	opacity: 1;
}

.tracker-line {
	width: 225px;
	height: 10px;
	background-color: var(--bg-accent);
}
